# La directive "Options" avec l'option "FollowSymLinks" indique à notre serveur web de suivre les liens dits symboliques
Options +FollowSymlinks

# La directive "Options" avec l'option "Indexes" précédée d'un "-" permet de ne pas afficher l'index dans les sous-répertoires
Options -Indexes

# On utilise la directive "ErrorDocument" pour remplacer la page par défaut erreur 404 (page introuvable) par une page personnalisée
ErrorDocument 404 /blog_php/page-introuvable

ErrorDocument 403 "<h1>Contenu interdit sur ce serveur.</h1>"

# Si le fichier source "mod_rewrite.c" existe
<IfModule mod_rewrite.c>
   # On autorise de renommer les pages
   RewriteEngine on

   # On supprime la barre oblique à la fin de l'URL sauf pour les répertoires
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^([^/]+)/$ /blog_php/$1 [R=301,L]

   # On peut enlever le .php (et le .html lignes 25 et 26) pour renommer les pages comme on le souhaite
   RewriteCond %{REQUEST_FILENAME}\.php -f
   RewriteRule ^(.*)$ $1.php [NC]

   RewriteCond %{REQUEST_FILENAME}\.html -f
   RewriteRule ^(.*)$ $1.html [NC]

   # On redirige les requêtes externes contenant l'extension .php (et .html lignes 33 à 35) en enlevant l'extension de l'URL
   #RewriteCond %{REQUEST_FILENAME} -f
   #RewriteCond %{THE_REQUEST} ^(.+)\.php [NC]
   #RewriteRule ^(.+)\.php$ /blog_php/$1 [R=301,L]

   RewriteCond %{REQUEST_FILENAME} -f
   RewriteCond %{THE_REQUEST} ^(.+)\.html [NC]
   RewriteRule ^(.+)\.html$ /blog_php/$1 [R=301,L]

   RewriteRule ^contact-([a-z]+)$ contact.php?reply=$1 [L]
</IfModule>