@charset "UTF-8";
/* CSS GLOBAL Document */
/* The @ @font-face rule defines the "Montserrat-Regular" font to use to display the text of web pages */
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.eot");
  src: url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.otf") format("opentype"), url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.svg") format("svg"), url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Russo One";
  src: url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.eot");
  src: url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.eot?#iefix") format("embedded-opentype"), url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.otf") format("opentype"), url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.svg") format("svg"), url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.ttf") format("truetype"), url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.woff") format("woff"), url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Wallpoet";
  src: url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.eot");
  src: url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.eot?#iefix") format("embedded-opentype"), url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.otf") format("opentype"), url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.svg") format("svg"), url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.ttf") format("truetype"), url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.woff") format("woff"), url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.otf") format("opentype"), url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.svg") format("svg"), url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

html {
  /* Position */
  /* Affichage */
  margin: 0 auto;
  line-height: 1.15;
  /* Texte */
  font-family: sans-serif;
  font-size: 62.5%;
  /* Décoration */ }

body {
  position: relative;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left; }

/* Navmenu */
.navbar {
  font-family: "Russo One", sans-serif;
  background-color: indigo !important; }
  .navbar div:first-child .logoTitle {
    text-decoration: none; }
    .navbar div:first-child .logoTitle .logo {
      display: none; }
    .navbar div:first-child .logoTitle .title {
      display: inline-block;
      margin: 0 0.5rem 0 1rem;
      vertical-align: middle;
      line-height: 3.5rem;
      font-size: 1.5em;
      font-weight: 500;
      text-transform: uppercase;
      color: white !important; }
  .navbar .navbar-toggler {
    margin-left: -0.5rem; }
  .navbar .navbar-toggler-icon {
    height: 3rem !important;
    width: 3rem !important; }
  .navbar div {
    line-height: 2.5; }
  .navbar .navbar-nav .nav-link {
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important;
    color: white; }
  .navbar .navbar-nav .show > .nav-link, .navbar .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.6); }
  .navbar .contact {
    color: rgba(255, 255, 255, 0.6) !important; }
  .navbar .navbar-nav-scroll {
    max-height: 64vh !important; }

/* INDEX.HTML */
/* MAIN CONTENT */
.container {
  margin-bottom: 11rem; }

section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 8rem;
  padding-bottom: 8rem; }

section .section-content {
  width: 100%; }
  section .section-content .logo {
    margin: -1.5rem 0 -0.5rem;
    text-align: center; }
    section .section-content .logo img {
      height: 8rem; }
  section .section-content p {
    white-space: pre-line; }
  section .section-content picture img {
    height: 9rem;
    margin: 2rem 0; }

h1 {
  margin-top: 2.5rem;
  font-size: 3rem; }

h3 {
  font-size: calc(1.325rem + 0.9vw); }

.text-primary {
  font-family: "Wallpoet", sans-serif;
  color: indigo !important; }

.subheading {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase; }
  .subheading a {
    text-decoration: none;
    color: indigo !important; }
  .subheading a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    color: #8540f5 !important; }

h2 {
  font-family: "Wallpoet", sans-serif;
  font-size: 2.5rem;
  color: indigo; }

.fa-ul {
  margin-left: 2.5rem; }
  .fa-ul li {
    margin: 1rem auto; }
  .fa-ul li:last-child {
    margin-bottom: 0.5rem; }
  .fa-ul .fa-minus {
    font-size: 1.25rem; }

i {
  font-size: 1.5rem; }

.fa-github {
  font-size: 3rem;
  color: indigo !important; }

.fa-github:hover {
  color: #8540f5 !important; }

.exp-flex {
  flex-direction: column-reverse !important; }
  .exp-flex .date-local {
    margin-top: initial;
    margin-bottom: 1rem; }

.date-local {
  margin-top: 1rem;
  font-size: calc(1.3rem + 0.6vw); }
  .date-local span ~ span {
    margin-left: 0.5rem; }

/* FOOTER */
footer {
  margin-top: 5rem;
  padding-bottom: 1rem;
  line-height: initial;
  z-index: 1029 !important;
  font-family: "Russo One", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  color: white;
  background-color: indigo; }
  footer .legalNotice {
    padding-top: 1.5rem; }
    footer .legalNotice p {
      margin-bottom: 0.8rem; }
      footer .legalNotice p a {
        text-decoration: underline;
        text-underline-offset: 0.2rem;
        color: white;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
      footer .legalNotice p a:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6); }

/* PAGE ERROR.HTML.TWIG */
.breadcrumbs {
  padding: 0.5rem 0 2rem;
  margin: 5.2rem auto 3rem -1.8rem;
  font-size: 1.2rem;
  font-weight: 100;
  background-color: #fafafa; }
  .breadcrumbs ul {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto; }
    .breadcrumbs ul li {
      float: left;
      position: relative;
      margin-right: 2.4rem;
      list-style: none; }
      .breadcrumbs ul li a {
        text-decoration: none;
        color: #212529; }
      .breadcrumbs ul li .home::before {
        padding-right: 0.5rem;
        font-family: "Font Awesome 5 Free";
        font-size: 1.3rem;
        font-weight: 900;
        content: "\F3E5"; }
    .breadcrumbs ul .threadTitle {
      display: none; }
  .breadcrumbs ul li a::after {
    position: absolute;
    right: -1.5rem;
    color: #333;
    content: "/"; }
  .breadcrumbs ul li a:hover {
    color: #8540f5; }

/* MAIN CONTENT */
.containerError404 {
  max-width: 115rem;
  margin: 0 auto;
  padding: 0 0.5rem; }
  .containerError404 div {
    padding-top: 6.5rem;
    text-align: center; }
    .containerError404 div img {
      max-height: 15rem;
      vertical-align: baseline; }
    .containerError404 div h2 {
      font-size: 2rem;
      font-weight: 400; }

/* PAGE CONTACT.PHP */
.containerContact {
  max-width: 115rem;
  margin: 0 auto 9.5rem;
  padding: 0.5rem;
  text-align: center; }
  .containerContact h2 {
    position: relative;
    display: table;
    width: 100%;
    max-width: 57rem;
    margin: 1rem auto 3.5rem; }
    .containerContact h2 span {
      position: relative;
      display: table;
      margin: 0 auto -1.2rem;
      padding: 0 1.5rem;
      z-index: 1;
      font-family: "Wallpoet", sans-serif;
      font-size: 2.1rem;
      font-weight: bold;
      text-transform: uppercase;
      color: indigo;
      background-color: white; }
  .containerContact h5::after {
    display: block;
    margin-top: -1rem;
    content: "";
    border-top: 1px solid #dddddd; }
  .containerContact form input {
    height: 3rem;
    width: 30%;
    margin: 1.5rem 0 1rem;
    padding-left: 0.5rem;
    border-radius: 2px;
    border: 1px solid #d2d2d2; }
  .containerContact form input::placeholder {
    font-style: italic; }
  .containerContact form .email, .containerContact form .subject {
    width: 60.3%;
    margin-top: 2rem; }
  .containerContact form textarea {
    width: 60.3%;
    margin: 2rem 0 1rem;
    padding: 0.5rem;
    border-radius: 2px;
    border: 1px solid #d2d2d2; }
  .containerContact form textarea::placeholder {
    font-style: italic; }
  .containerContact form p {
    margin: 1rem auto 0.5rem;
    color: red; }
  .containerContact form .msgError {
    color: red; }
  .containerContact form .msgValid {
    white-space: pre-line;
    color: green; }

/* PAGE LOGIN.HTML */
/* MAIN CONTENT */
.containerLogin {
  padding-top: 10rem; }
  .containerLogin form {
    margin: -0.5rem 0 10rem;
    padding: 1.2rem 0.5rem 1.4rem;
    text-align: center;
    border: 1px solid #d2d2d2;
    border-radius: 2px; }
    .containerLogin form ul {
      list-style: none;
      margin: 0 auto;
      padding: 0; }
      .containerLogin form ul li input {
        height: 3rem;
        width: 30.1rem;
        margin: 1rem 0 2rem;
        padding-left: 0.5rem;
        border-radius: 2px;
        border: 1px solid #d2d2d2; }
      .containerLogin form ul li input::placeholder {
        font-style: italic; }
  .containerLogin div p {
    margin: 0 auto 1.3rem;
    color: red; }

.button {
  height: 2.8rem;
  margin: 2rem auto 2rem;
  padding: 0 1.5rem;
  line-height: 2.6rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #C0C0C0;
  border: none;
  border-radius: 3px;
  transition-duration: 0.2s; }

.button:hover {
  color: #ffffff;
  background-color: #8540f5;
  cursor: pointer; }

@media (min-width: 576px) {
  /* MAIN CONTENT */
  section .section-content picture img {
    margin: initial; }

  /* PAGE ERROR.HTML.TWIG */
  /* MAIN CONTENT */
  .containerError404 div {
    height: 23.8rem;
    margin-top: -3rem;
    padding-top: initial; } }
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px; }

  body {
    font-size: 1.5rem; }

  /* Navmenu */
  .navbar div:first-child {
    position: fixed; }
    .navbar div:first-child .logoTitle .logo {
      display: initial;
      max-width: 6rem; }
    .navbar div:first-child .logoTitle .title {
      margin: initial; }

  /* MAIN CONTENT */
  section {
    display: flex;
    min-height: 60rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10rem;
    padding-bottom: 10rem; }

  section:last-child {
    min-height: 51rem;
    padding-top: initial;
    padding-bottom: initial; }

  section .section-content .logo {
    margin: 2rem 0; }
    section .section-content .logo img {
      height: 9rem; }
  section .section-content picture img {
    height: 12rem; }

  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 4rem; }

  h3 {
    font-size: 2rem; }

  .fa-ul {
    margin-left: 3.5em; }
    .fa-ul li {
      margin: initial; }
    .fa-ul li:last-child {
      margin-bottom: initial; }
    .fa-ul i {
      margin-right: 1.3rem;
      font-size: 2rem; }

  .exp-flex {
    flex-direction: row !important; }

  .date-local {
    width: 15.5rem;
    margin: initial;
    font-size: 1.75rem; }
    .date-local span ~ span {
      display: block;
      margin-top: -0.5rem;
      margin-left: initial; }
    .date-local .local-form1 {
      margin-top: 2.9rem; }
    .date-local .local-form2 {
      margin-top: 0.7rem; }

  /* FOOTER */
  footer {
    line-height: 2.4rem;
    font-size: 1.5rem; }
    footer .legalNotice {
      padding-top: 2rem; }

  /* PAGE ERROR.HTML.TWIG */
  .breadcrumbs {
    padding: 1.5rem 1.5rem 2.5rem;
    margin: 5.5rem auto 4rem; }
    .breadcrumbs ul .threadTitle {
      display: initial; }
    .breadcrumbs ul .threadTitle300 {
      display: none; }

  /* MAIN CONTENT */
  .containerError404 div {
    padding-top: 11rem; }
    .containerError404 div h2 {
      font-size: 2.5rem; }

  /* PAGE CONTACT.PHP */
  .containerContact h2 {
    margin: 1rem auto 4.5rem; }

  /* BACK OFFICE */
  .breadcrumbs-bo {
    margin: 0 auto 4rem; }

  .container-bo {
    padding: 0 5rem; }
    .container-bo h3 {
      margin-bottom: 3rem;
      font-weight: 100;
      text-align: right; }
      .container-bo h3 a {
        padding: 1rem 1.4rem 1rem 0;
        font-size: 1.3rem;
        text-decoration: none;
        color: #ffffff;
        background-color: indigo;
        border: none;
        border-radius: 3px;
        transition-duration: 0.2s; }
        .container-bo h3 a i {
          height: 4rem;
          width: 4rem;
          margin-right: -0.5rem;
          line-height: 4.1rem;
          text-align: center; }
    .container-bo h3:hover a {
      color: #ffffff;
      background-color: #8540f5;
      cursor: pointer; }
    .container-bo .formReset {
      display: inline-block; } }
@media (min-height: 1024px) {
  /* PAGE ERROR.HTML.TWIG */
  /* MAIN CONTENT */
  .containerError404 div {
    padding-top: 11rem; } }
@media (min-width: 1200px) {
  /* PAGE ERROR.HTML.TWIG */
  /* MAIN CONTENT */
  .containerError404 div {
    padding-top: 14.5rem; } }
/* PAGE LAYOUT.PHTML */
/* TOPBAR */
.topBar {
  position: relative;
  height: 4.4rem;
  margin: 0 auto;
  z-index: 100;
  color: #fafafa;
  background-color: indigo;
  border-top: 1px solid indigo; }
  .topBar .topbarContenu {
    display: flex;
    justify-content: center;
    max-width: 115rem;
    margin: 0 auto;
    font-size: 1.3rem; }
    .topBar .topbarContenu .logo {
      display: flex;
      align-items: center;
      flex-grow: 1.1; }
      .topBar .topbarContenu .logo a {
        text-decoration: none;
        color: #fafafa; }
        .topBar .topbarContenu .logo a h2 {
          margin-top: 0.5rem;
          font-size: 1.9em;
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          color: #fafafa; }
    .topBar .topbarContenu .displayAdmin {
      flex-grow: 0; }
      .topBar .topbarContenu .displayAdmin ul {
        margin-top: 1rem;
        padding: 0; }
        .topBar .topbarContenu .displayAdmin ul li {
          display: inline-block;
          list-style: none; }
        .topBar .topbarContenu .displayAdmin ul li:first-child + li {
          margin: 0 0.3rem; }
        .topBar .topbarContenu .displayAdmin ul a {
          font-weight: 100;
          text-decoration: none;
          color: #fafafa;
          transition-duration: 0.2s; }
          .topBar .topbarContenu .displayAdmin ul a span::after {
            padding-left: 0.8rem;
            font-family: "Font Awesome 5 Free";
            font-size: 1.3rem;
            font-weight: 900;
            content: "\F2F5"; }
      .topBar .topbarContenu .displayAdmin ul a:hover {
        text-decoration: underline;
        text-underline-offset: 0.2rem; }

/* HEADER */
.headerLayout {
  position: sticky;
  top: 0;
  z-index: 99; }
  .headerLayout nav > ul > li {
    display: inline-block; }
  .headerLayout nav > ul > li:focus-within > a {
    color: #fafafa;
    background-color: #8540f5; }
  .headerLayout nav {
    background-color: white;
    border-bottom: 4px solid indigo; }
    .headerLayout nav ul {
      margin: 0;
      padding: 0;
      text-align: center;
      list-style: none; }
      .headerLayout nav ul li {
        margin: 0 -0.2rem; }
        .headerLayout nav ul li a {
          display: inline-block;
          padding: 2rem 3.2rem;
          font-weight: bold;
          text-decoration: none;
          color: indigo;
          transition: all ease-in-out 0.2s;
          -webkit-transition: all ease-in-out 0.2s; }
          .headerLayout nav ul li a h3 {
            font-family: "Wallpoet", sans-serif; }
        .headerLayout nav ul li .menu {
          position: absolute;
          left: 0;
          right: 0;
          padding-bottom: 3rem;
          background: indigo;
          opacity: 0;
          visibility: hidden;
          transition: all ease-in-out 0.2s;
          -webkit-transition: all ease-in-out 0.2s; }
          .headerLayout nav ul li .menu .sousMenu {
            display: inline-block;
            width: 19%;
            padding: 0 0.5rem;
            vertical-align: top; }
            .headerLayout nav ul li .menu .sousMenu h2 {
              margin: 0 0 -0.3rem;
              padding: 3rem 0 1.5rem;
              font-size: 1.6rem;
              text-transform: uppercase;
              color: #fafafa; }
            .headerLayout nav ul li .menu .sousMenu br + ul {
              margin-top: 1rem; }
            .headerLayout nav ul li .menu .sousMenu ul li a {
              padding: 0;
              line-height: 2.5rem;
              text-decoration: none;
              color: #fafafa;
              transition-duration: 0.2s; }
              .headerLayout nav ul li .menu .sousMenu ul li a i {
                padding-right: 0.8rem;
                vertical-align: 0.07rem;
                font-size: 1.3rem; }
            .headerLayout nav ul li .menu .sousMenu ul li a:hover {
              text-decoration: underline;
              text-underline-offset: 0.2rem;
              transition-duration: 0.2s; }
          .headerLayout nav ul li .menu .singleMenu ul li:first-child {
            padding-top: 3rem; }
    .headerLayout nav ul li:focus-within .menu {
      opacity: 1;
      visibility: visible; }
    .headerLayout nav ul li:hover a {
      color: #fafafa;
      background-color: indigo; }
    .headerLayout nav ul li:hover .menu {
      z-index: 1;
      opacity: 1;
      visibility: visible; }

/* PAGE TABLEAU-DE-BORD.PHTML */
/* MAIN CONTENT */
.containerDashboard {
  display: grid;
  grid-template-rows: 14rem 11rem 11rem;
  grid-template-columns: auto;
  grid-gap: 1em;
  min-height: 68.3rem;
  max-width: 115rem;
  margin: 3rem auto 4rem;
  line-height: 2rem; }
  .containerDashboard h2 {
    grid-area: 1 / 1 / 1 / 4;
    margin-top: 4.5rem;
    font-size: 2.5rem; }
    .containerDashboard h2 i {
      display: inline-block;
      height: 4rem;
      width: 4rem;
      margin-right: 0.5rem;
      line-height: 4.1rem;
      text-align: center;
      color: indigo; }
  .containerDashboard .dashboardBox1, .containerDashboard .dashboardBox2, .containerDashboard .dashboardBox3, .containerDashboard .dashboardBox4, .containerDashboard .dashboardBox5, .containerDashboard .dashboardBox6 {
    background-color: indigo;
    border: 1px solid #d2d2d2;
    border-radius: 3px; }
    .containerDashboard .dashboardBox1 a, .containerDashboard .dashboardBox2 a, .containerDashboard .dashboardBox3 a, .containerDashboard .dashboardBox4 a, .containerDashboard .dashboardBox5 a, .containerDashboard .dashboardBox6 a {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
      text-decoration: none; }
      .containerDashboard .dashboardBox1 a .dashboardIcons, .containerDashboard .dashboardBox2 a .dashboardIcons, .containerDashboard .dashboardBox3 a .dashboardIcons, .containerDashboard .dashboardBox4 a .dashboardIcons, .containerDashboard .dashboardBox5 a .dashboardIcons, .containerDashboard .dashboardBox6 a .dashboardIcons {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 1;
        grid-column-end: 1;
        margin: 3.5rem auto 0;
        padding-left: 1rem; }
        .containerDashboard .dashboardBox1 a .dashboardIcons i, .containerDashboard .dashboardBox2 a .dashboardIcons i, .containerDashboard .dashboardBox3 a .dashboardIcons i, .containerDashboard .dashboardBox4 a .dashboardIcons i, .containerDashboard .dashboardBox5 a .dashboardIcons i, .containerDashboard .dashboardBox6 a .dashboardIcons i {
          font-size: 4rem;
          color: #fafafa; }
      .containerDashboard .dashboardBox1 a .dashboardInfos, .containerDashboard .dashboardBox2 a .dashboardInfos, .containerDashboard .dashboardBox3 a .dashboardInfos, .containerDashboard .dashboardBox4 a .dashboardInfos, .containerDashboard .dashboardBox5 a .dashboardInfos, .containerDashboard .dashboardBox6 a .dashboardInfos {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 1;
        grid-column-end: 2;
        margin: 1.2rem auto 0;
        padding: 0 1.2rem 1rem 2rem;
        line-height: 1.5rem;
        text-align: center;
        color: #fafafa; }
        .containerDashboard .dashboardBox1 a .dashboardInfos h4, .containerDashboard .dashboardBox2 a .dashboardInfos h4, .containerDashboard .dashboardBox3 a .dashboardInfos h4, .containerDashboard .dashboardBox4 a .dashboardInfos h4, .containerDashboard .dashboardBox5 a .dashboardInfos h4, .containerDashboard .dashboardBox6 a .dashboardInfos h4 {
          margin-bottom: 1.5rem; }
        .containerDashboard .dashboardBox1 a .dashboardInfos strong, .containerDashboard .dashboardBox2 a .dashboardInfos strong, .containerDashboard .dashboardBox3 a .dashboardInfos strong, .containerDashboard .dashboardBox4 a .dashboardInfos strong, .containerDashboard .dashboardBox5 a .dashboardInfos strong, .containerDashboard .dashboardBox6 a .dashboardInfos strong {
          font-size: 1.8rem; }
  .containerDashboard .dashboardBox1, .containerDashboard .dashboardBox2, .containerDashboard .dashboardBox5, .containerDashboard .dashboardBox6 {
    grid-area: 2 / auto / 2 / auto; }
  .containerDashboard .dashboardBox3 {
    grid-area: 3 / 2 / 3 / 2; }
  .containerDashboard .dashboardBox4 {
    grid-area: 3 / 3 / 3 / 3; }

/* PAGES AJOUTCAT.PHTML ET MODIFCAT.PHTML */
/* MAIN CONTENT */
.containerAdd, .containerEdit {
  min-height: 64.3rem;
  max-width: 50rem;
  margin: 0 auto 3rem;
  padding: 0 0.5rem; }
  .containerAdd h3, .containerEdit h3 {
    margin: 0 0 4rem -1rem;
    font-weight: 100;
    text-align: center;
    color: #212529; }
    .containerAdd h3 i, .containerEdit h3 i {
      height: 0;
      width: 4rem;
      color: indigo; }
  .containerAdd form, .containerEdit form {
    margin: -0.5rem 0 3.05rem;
    padding: 2.5rem 0.5rem 0.5rem;
    line-height: 1.5rem;
    font-weight: 100;
    text-align: center;
    color: #212529;
    border: 1px solid #d2d2d2;
    border-radius: 2px; }
    .containerAdd form div, .containerEdit form div {
      position: relative;
      width: 40rem;
      margin: 0 auto;
      padding: 0.5rem 0; }
      .containerAdd form div label, .containerEdit form div label {
        display: block;
        text-align: left; }
      .containerAdd form div i, .containerEdit form div i {
        float: right;
        margin: -1.4rem 0;
        font-size: 1.3rem; }
        .containerAdd form div i a, .containerEdit form div i a {
          text-decoration: none;
          color: #212529;
          transition-duration: 0.1s; }
        .containerAdd form div i a:hover, .containerEdit form div i a:hover {
          color: red; }
      .containerAdd form div span, .containerEdit form div span {
        display: block;
        margin: 1rem 0 0.5rem;
        line-height: 1.8rem;
        white-space: pre-line;
        font-size: 1.4rem;
        font-style: italic;
        text-align: left; }
        .containerAdd form div span u, .containerEdit form div span u {
          text-decoration: underline red;
          text-underline-offset: 0.2rem; }
        .containerAdd form div span a, .containerEdit form div span a {
          text-decoration: none;
          color: red;
          transition-duration: 0.1s; }
      .containerAdd form div input, .containerEdit form div input {
        height: 3.5rem;
        width: 40rem;
        margin: 0.8rem 0 1.5rem;
        padding: 0.5rem;
        color: #212529;
        border-radius: 2px;
        border: 1px solid #d2d2d2; }
      .containerAdd form div input::placeholder, .containerEdit form div input::placeholder {
        font-size: 1.3rem;
        font-style: italic;
        color: red; }
      .containerAdd form div .publishedLabel, .containerEdit form div .publishedLabel {
        display: initial;
        padding-right: 0.3rem; }
      .containerAdd form div .published, .containerEdit form div .published {
        position: relative;
        display: initial;
        height: 1.4rem;
        width: 1.4rem;
        cursor: pointer; }
      .containerAdd form div p, .containerEdit form div p {
        margin: 0.2rem 0 0.7rem;
        line-height: 2rem;
        color: red; }
      .containerAdd form div select, .containerEdit form div select {
        height: 3.5rem;
        width: 40rem;
        margin: 0.8rem 0 1.5rem;
        padding: 0.5rem;
        color: #212529;
        border-radius: 2px;
        border: 1px solid #d2d2d2; }
      .containerAdd form div textarea, .containerEdit form div textarea {
        width: 100%;
        margin: 1rem 0;
        padding: 0.5rem;
        color: #212529;
        border-radius: 2px;
        border: 1px solid #d2d2d2; }
    .containerAdd form .btn, .containerEdit form .btn {
      display: block;
      height: 3.2rem;
      margin: 1rem auto 2.5rem;
      padding: 0.8rem 1.5rem;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #C0C0C0;
      border: none;
      border-radius: 3px;
      transition-duration: 0.2s; }
    .containerAdd form .btn:hover, .containerEdit form .btn:hover {
      color: #ffffff;
      background-color: #8540f5;
      cursor: pointer; }
    .containerAdd form .msg p, .containerEdit form .msg p {
      margin: -1.2rem 0 1.5rem;
      color: red; }
  .containerAdd .formReset, .containerEdit .formReset {
    margin: -0.5rem 0 9rem;
    padding: 0;
    border: none; }
    .containerAdd .formReset .btnReset, .containerEdit .formReset .btnReset {
      height: 3.2rem;
      margin: 0 auto 1.5rem;
      padding: 1rem;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #C0C0C0;
      border: none;
      border-radius: 3px;
      transition-duration: 0.2s; }
      .containerAdd .formReset .btnReset i, .containerEdit .formReset .btnReset i {
        margin-right: 0.5rem; }
    .containerAdd .formReset .btnReset:hover, .containerEdit .formReset .btnReset:hover {
      color: #ffffff;
      background-color: red;
      cursor: pointer; }
    .containerAdd .formReset div, .containerEdit .formReset div {
      width: initial; }
      .containerAdd .formReset div p, .containerEdit .formReset div p {
        margin: -0.2rem 0 -0.6rem;
        color: red; }

.containerAdd {
  margin-bottom: 10.5rem; }

/*# sourceMappingURL=stylesheet.css.map */
