@charset "UTF-8";
/* CSS GLOBAL Document */

/* The @ @font-face rule defines the "Montserrat-Regular" font to use to display the text of web pages */
@font-face {
   font-family: "Montserrat-Regular";
   src: url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.eot");
   src: url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
      url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.otf") format("opentype"),
      url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.svg") format("svg"),
      url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"),
      url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"),
      url("/blog_php/public/webfonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Russo One";
   src: url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.eot");
   src: url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.eot?#iefix") format("embedded-opentype"),
      url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.otf") format("opentype"),
      url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.svg") format("svg"),
      url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.ttf") format("truetype"),
      url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.woff") format("woff"),
      url("/blog_php/public/webfonts/RussoOne-Regular/RussoOne-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Wallpoet";
   src: url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.eot");
   src: url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.eot?#iefix") format("embedded-opentype"),
      url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.otf") format("opentype"),
      url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.svg") format("svg"),
      url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.ttf") format("truetype"),
      url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.woff") format("woff"),
      url("/blog_php/public/webfonts/Wallpoet-Regular/Wallpoet-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Roboto";
   src: url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.eot");
   src: url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
      url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.otf") format("opentype"),
      url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.svg") format("svg"),
      url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"),
      url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.woff") format("woff"),
      url("/blog_php/public/webfonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
   /* Position */
   /* Affichage */
   margin: 0 auto;
   line-height: 1.15;
   /* Texte */
   font-family: sans-serif;
   font-size: 62.5%;
   /* Décoration */
}

body {
	position: relative;

   font-family: "Montserrat-Regular", sans-serif;
   font-size: 1.4rem;
   font-weight: 500;
   text-align: left;
}

/* Navmenu */
.navbar {
   font-family: "Russo One", sans-serif;

   background-color: indigo !important;

   div:first-child {
      .logoTitle {
         text-decoration: none;

         .logo {
            display: none;
         }

         .title {
            display: inline-block;
            margin: 0 0.5rem 0 1rem;
            vertical-align: middle;
            line-height: 3.5rem;

            font-size: 1.5em;
            font-weight: 500;
            text-transform: uppercase;

            color: rgb(255, 255, 255) !important;
         }
      }
   }

	.navbar-toggler {
	   margin-left: -0.5rem;
	}

	.navbar-toggler-icon {
	   height: 3rem !important;
	   width: 3rem !important;
	}

	div {
	   line-height: 2.5;
	}

	.navbar-nav .nav-link {
	   padding-right: 1.2rem !important;
	   padding-left: 1.2rem !important;

	   color: rgb(255, 255, 255);
	}

	.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
	   color: rgba(255, 255, 255, 0.6);
	}

   .contact {
      color: rgba(255, 255, 255, 0.6) !important;
   }

   .navbar-nav-scroll {
      max-height: 64vh !important;
   }
}

/* INDEX.HTML */
/* MAIN CONTENT */
.container {
   margin-bottom: 11rem;
}

section {
   display: flex;
   align-items: center;
   padding-left: 1rem;
   padding-right: 1rem;
   padding-top: 8rem;
   padding-bottom: 8rem;
}

section .section-content {
   width: 100%;

   .logo {
      margin: -1.5rem 0 -0.5rem;

      text-align: center;

      img {
         height: 8rem;
      }
   }

   p {
      white-space: pre-line;
   }

   picture img {
      height: 9rem;
      margin: 2rem 0;
   }
}

h1 {
   margin-top: 2.5rem;

   font-size: 3rem;
}

h3 {
   font-size: calc(1.325rem + 0.9vw);
}

.text-primary {
   font-family: "Wallpoet", sans-serif;

   color: indigo !important;
}

.subheading {
   font-family: "Roboto", sans-serif;
   font-size: 1.5rem;
   font-weight: 500;
   text-transform: uppercase;

   a {
      text-decoration: none;

      color: indigo !important;
   }

   a:hover {
      text-decoration: underline;
      text-underline-offset: 0.2rem;

      color: rgb(133, 64, 245) !important;
   }
}

h2 {
   font-family: "Wallpoet", sans-serif;
   font-size: 2.5rem;

   color: indigo;
}

.fa-ul {
   margin-left: 2.5rem;

   li {
      margin: 1rem auto;
   }

   li:last-child {
      margin-bottom: 0.5rem;
   }

   .fa-minus {
      font-size: 1.25rem;
   }
}

i {
   font-size: 1.5rem;
}

.fa-github {
   font-size: 3rem;

   color: indigo !important;
}

.fa-github:hover {
   color: rgb(133, 64, 245) !important;
}

.exp-flex {
   flex-direction: column-reverse !important;

   .date-local {
      margin-top: initial;
      margin-bottom: 1rem;
   }
}

.date-local {
   margin-top: 1rem;

   font-size: calc(1.3rem + 0.6vw);

   span ~ span {
      margin-left: 0.5rem;
   }
}

/* FOOTER */
footer {
   margin-top: 5rem;
   padding-bottom: 1rem;
   line-height: initial;
   z-index: 1029 !important;

   font-family: "Russo One", sans-serif;
   font-size: 1.3rem;
   text-align: center;

   color: rgb(255, 255, 255);
   background-color: indigo;

   .legalNotice {
      padding-top: 1.5rem;

      p {
         margin-bottom: 0.8rem;
         a {
            text-decoration: underline;
            text-underline-offset: 0.2rem;
            
            color: rgb(255, 255, 255);
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
         }

         a:hover {
            text-decoration: none;

            color: rgba(255, 255, 255, 0.6);
         }
      }
   }
}

/* PAGE ERROR.HTML.TWIG */
// BREADCRUMB
.breadcrumbs {
   padding: 0.5rem 0 2rem;
   margin: 5.2rem auto 3rem -1.8rem;

   font-size: 1.2rem;
   font-weight: 100;
   
   background-color: rgb(250, 250, 250);

   ul {
      max-width: 120rem;
      margin-left: auto;
      margin-right: auto;

      li {
          float: left;
          position: relative;

          margin-right: 2.4rem;

         list-style: none;

         a {
            text-decoration: none;
            
            color: rgb(33, 37, 41);
         }

         .home::before {
            padding-right: 0.5rem;

            font-family: "Font Awesome 5 Free";
            font-size: 1.3rem;
            font-weight: 900;

            content: "\F3E5";
         }
      }

      .threadTitle {
         display: none;
      }
   }

   ul li a::after {
      position: absolute;
      right: -1.5rem;

      color: #333;

      content: "/";
   }

   ul li a:hover {
      color: rgb(133, 64, 245);
   }
}

/* MAIN CONTENT */
.containerError404 {
	max-width: 115rem;
	margin: 0 auto;
	padding: 0 0.5rem;

	div {
		padding-top: 6.5rem;

		text-align: center;

		img {
			max-height: 15rem;
			vertical-align: baseline;
		}

		h2 {
			font-size: 2rem;
			font-weight: 400;
		}
	}
}

/* PAGE CONTACT.PHP */
// MAIN CONTENT
.containerContact {
   max-width: 115rem;
   margin: 0 auto 9.5rem;
   padding: 0.5rem;

   text-align: center;

   h2 {
      position: relative;

      display: table;
      width: 100%;
      max-width: 57rem;
      margin: 1rem auto 3.5rem;

      span {
         position: relative;

         display: table;
         margin: 0 auto -1.2rem;
         padding: 0 1.5rem;
         z-index: 1;

         font-family: "Wallpoet", sans-serif;
         font-size: 2.1rem;
         font-weight: bold;
         text-transform: uppercase;

         color: indigo;
         background-color: rgb(255, 255, 255);
      }
   }

   h5::after {
      display: block;
      margin-top: -1rem;

      content: "";
      border-top: 1px solid rgb(221, 221, 221);
   }

   form {
      input {
         height: 3rem;
         width: 30%;
         margin: 1.5rem 0 1rem;
         padding-left: 0.5rem;

         border-radius: 2px;
         border: 1px solid #d2d2d2;
      }

      input::placeholder {
         font-style: italic;
      }
      
      .email, .subject {
         width: 60.3%;
         margin-top: 2rem;
      }

      textarea {
         width: 60.3%;
         margin: 2rem 0 1rem;
         padding: 0.5rem;

         border-radius: 2px;
         border: 1px solid #d2d2d2;
      }

      textarea::placeholder {
         font-style: italic;
      }

      p {
         margin: 1rem auto 0.5rem;

         color: rgb(255, 0, 0);
      }

      .msgError {
         color: rgb(255, 0, 0);
      }

      .msgValid {
         white-space: pre-line;

         color: rgb(0, 128, 0);
      }
   }
}

/* PAGE LOGIN.HTML */
/* MAIN CONTENT */
.containerLogin {
   padding-top: 10rem;

   form {
      margin: -0.5rem 0 10rem;
      padding: 1.2rem 0.5rem 1.4rem;

      text-align: center;

      border: 1px solid #d2d2d2;
      border-radius: 2px;

      ul {
         list-style: none;

         margin: 0 auto;
         padding: 0;

         li {
            input {
               height: 3rem;
               width: 30.1rem;
               margin: 1rem 0 2rem;
               padding-left: 0.5rem;

               border-radius: 2px;
               border: 1px solid #d2d2d2;
            }

            input::placeholder {
               font-style: italic;
            }
         }
      }
   }

   div p {
      margin: 0 auto 1.3rem;

      color: rgb(255, 0, 0);
   }
}

.button {
   height: 2.8rem;
   margin: 2rem auto 2rem;
   padding: 0 1.5rem;
   line-height: 2.6rem;

   font-size: 1.2rem;
   text-transform: uppercase;

   color: #ffffff;
   background-color: #C0C0C0;
   border: none;
   border-radius: 3px;
   transition-duration: 0.2s;
}

.button:hover {
   color: #ffffff;
   background-color: rgb(133, 64, 245);
   cursor: pointer;
}

@media (min-width: 576px) {
   /* MAIN CONTENT */
   section .section-content picture img {
      margin: initial;
   }

	/* PAGE ERROR.HTML.TWIG */
	/* MAIN CONTENT */
	.containerError404 div {
      height: 23.8rem;
      margin-top: -3rem;
		padding-top: initial;
	}
}

@media (min-width: 992px) {
   .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
   }

   body {
      font-size: 1.5rem;
   }

   /* Navmenu */
   .navbar div:first-child {
      position: fixed;

      .logoTitle {
         .logo {
            display: initial;
            max-width: 6rem;
         }

         .title {
            margin: initial;
         }
      }
   }

   /* MAIN CONTENT */
   section {
      display: flex;
      min-height: 60rem;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 10rem;
      padding-bottom: 10rem;
   }

   section:last-child {
      min-height: 51rem;
      padding-top: initial;
      padding-bottom: initial;
   }

   section .section-content {
      .logo {
         margin: 2rem 0;

         img {
            height: 9rem;
         }
      }

      picture img {
         height: 12rem;
      }
   }

   h1 {
      font-size: 5rem;
   }

   h2 {
      font-size: 4rem;
   }

   h3 {
      font-size: 2rem;
   }

   .fa-ul {
      margin-left: 3.5em;

      li {
         margin: initial;
      }

      li:last-child {
         margin-bottom: initial;
      }

      i {
         margin-right: 1.3rem;

         font-size: 2rem;
      }
   }

   .exp-flex {
      flex-direction: row !important;
   }

   .date-local {
      width: 15.5rem;
      margin: initial;

      font-size: 1.75rem;

      span ~ span {
         display: block;
         margin-top: -0.5rem;
         margin-left: initial;
      }

      .local-form1 {
         margin-top: 2.9rem;
      }

      .local-form2 {
         margin-top: 0.7rem;
      }
   }

   /* FOOTER */
   footer {
      line-height: 2.4rem;

      font-size: 1.5rem;

      .legalNotice {
         padding-top: 2rem;
      }
   }

	/* PAGE ERROR.HTML.TWIG */
   // BREADCRUMB
   .breadcrumbs {
      padding: 1.5rem 1.5rem 2.5rem;
      margin: 5.5rem auto 4rem;

      ul {
         .threadTitle {
            display: initial;
         }

         .threadTitle300 {
            display: none;
         }
      }
   }

	/* MAIN CONTENT */
	.containerError404 {
		div {
			padding-top: 11rem;

			h2 {
				font-size: 2.5rem;
			}
		}
	}

   /* PAGE CONTACT.PHP */
   // MAIN CONTENT
   .containerContact h2 {
      margin: 1rem auto 4.5rem;
   }

   /* BACK OFFICE */
   // BREADCRUMB
   .breadcrumbs-bo {
      margin: 0 auto 4rem;
   }

   .container-bo {
      padding: 0 5rem;

      h3 {
         margin-bottom: 3rem;

         font-weight: 100;
         text-align: right;

         a {
            padding: 1rem 1.4rem 1rem 0;

            font-size: 1.3rem;
            text-decoration: none;

            color: #ffffff;
            background-color: indigo;
            border: none;
            border-radius: 3px;
            transition-duration: 0.2s;

            i {
               height: 4rem;
               width: 4rem;
               margin-right: -0.5rem;
               line-height: 4.1rem;

               text-align: center;
            }
         }
      }

      h3:hover {
         a {
            color: #ffffff;
            background-color: rgb(133, 64, 245);
            cursor: pointer;
         }
      }

      .formReset {
         display: inline-block;
      }
   }
}

@media (min-height: 1024px) {
	/* PAGE ERROR.HTML.TWIG */
	/* MAIN CONTENT */
	.containerError404 div {
		padding-top: 11rem;
		//padding-bottom: 7.5rem;
	}
}

@media (min-width: 1200px) {
	/* PAGE ERROR.HTML.TWIG */
	/* MAIN CONTENT */
	.containerError404 div {
		padding-top: 14.5rem;
	}
}


/* PAGE LAYOUT.PHTML */
/* TOPBAR */
.topBar {
   position: relative;

   height: 4.4rem;
   margin: 0 auto;
   z-index: 100;

   color: rgb(250, 250, 250);
   background-color: indigo;
   border-top: 1px solid indigo;

   .topbarContenu {
      display: flex;
      justify-content: center;
      max-width: 115rem;
      margin: 0 auto;

      font-size: 1.3rem;

      .logo {
         display: flex;
         align-items: center;
         flex-grow: 1.1;

         a {
            text-decoration: none;

            color: rgb(250, 250, 250);

            h2 {
               margin-top: 0.5rem;

               font-size: 1.9em;
               font-weight: 600;
               text-align: center;
               text-transform: uppercase;

               color: rgb(250, 250, 250);
            }
         }
      }

      .displayAdmin {
         flex-grow: 0;

         ul {
            margin-top: 1rem;
            padding: 0;

            li {
               display: inline-block;

               list-style: none;
            }

            li:first-child + li {
               margin: 0 0.3rem;
            }

            a {
               font-weight: 100;
               text-decoration: none;

               color: rgb(250, 250, 250);
               transition-duration: 0.2s;

               span::after {
                  padding-left: 0.8rem;

                  font-family: "Font Awesome 5 Free";
                  font-size: 1.3rem;
                  font-weight: 900;

                  content: "\F2F5";
               }
            }
         }

         ul a:hover  {
            text-decoration: underline;
            text-underline-offset: 0.2rem;
         }
      }
   }
}

/* HEADER */
.headerLayout {
   position: sticky;
   top: 0;

   z-index: 99;

   nav > ul > li {
      display: inline-block;
   }

   nav > ul > li:focus-within > a {
      color: rgb(250, 250, 250);
      background-color: rgb(133, 64, 245);
   }

   nav {
      background-color: rgb(255, 255, 255);
      border-bottom: 4px solid indigo;

      ul {
         margin: 0;
         padding: 0;

         text-align: center;

         list-style: none;

         li {
            margin: 0 -0.2rem;

            a {
               display: inline-block;
               padding: 2rem 3.2rem;

               font-weight: bold;
               text-decoration: none;

               color: indigo;
               transition: all ease-in-out 0.2s;
               -webkit-transition: all ease-in-out 0.2s;

               h3 {
                  font-family: "Wallpoet", sans-serif;
               }
            }

            .menu {
               position: absolute;
               left: 0;
               right: 0;
               padding-bottom: 3rem;

               background: indigo;
               opacity: 0;
               visibility: hidden;
               transition: all ease-in-out 0.2s;
               -webkit-transition: all ease-in-out 0.2s;

               .sousMenu {
                  display: inline-block;
                  width: 19%;
                  padding: 0 0.5rem;
                  vertical-align: top;

                  h2 {
                     margin: 0 0 -0.3rem;
                     padding: 3rem 0 1.5rem;

                     font-size: 1.6rem;
                     text-transform: uppercase;

                     color: rgb(250, 250, 250);
                  }

                  br + ul {
                     margin-top: 1rem;
                  }

                  ul li a {
                     padding: 0;
                     line-height: 2.5rem;

                     text-decoration: none;

                     color: rgb(250, 250, 250);
                     transition-duration: 0.2s;

                     i {
                        padding-right: 0.8rem;
                        vertical-align: 0.07rem;

                        font-size: 1.3rem;
                     }
                  }

                  ul li a:hover {
                     text-decoration: underline;
                     text-underline-offset: 0.2rem;

                     transition-duration: 0.2s;
                  }
               }

               .singleMenu ul li:first-child {
                  padding-top: 3rem;
               }
            }
         }
      }

      ul li:focus-within {
         .menu {
            opacity: 1;
            visibility: visible;
         }
      }

      ul li:hover {
         a {
            color: rgb(250, 250, 250);
            background-color: indigo;
         }

         .menu {
            z-index: 1;

            opacity: 1;
            visibility: visible;
         }
      }
   }
}

/* PAGE TABLEAU-DE-BORD.PHTML */
/* MAIN CONTENT */
.containerDashboard {
   display: grid;
   grid-template-rows: 14rem 11rem 11rem;
   grid-template-columns: auto;
   grid-gap: 1em;
   min-height: 68.3rem;
   max-width: 115rem;
   margin: 3rem auto 4rem;
   line-height: 2rem;

   h2 {
      grid-area: 1 / 1 / 1 / 4;
      margin-top: 4.5rem;

      font-size: 2.5rem;

      i {
         display: inline-block;
         height: 4rem;
         width: 4rem;
         margin-right: 0.5rem;
         line-height: 4.1rem;

         text-align: center;

         color: indigo;
      }
   }

   .dashboardBox1, .dashboardBox2, .dashboardBox3, .dashboardBox4, .dashboardBox5, .dashboardBox6 {
      background-color: indigo;
      border: 1px solid #d2d2d2;
      border-radius: 3px;

      a {
         display: grid;
         grid-template-rows: auto;
         grid-template-columns: auto;

         text-decoration: none;

         .dashboardIcons {
            grid-row-start: 1;
            grid-column-start: 1;
            grid-row-end: 1;
            grid-column-end: 1;
            margin: 3.5rem auto 0;
            padding-left: 1rem;

            i {
               font-size: 4rem;

               color: rgb(250, 250, 250);
            }
         }

         .dashboardInfos {
            grid-row-start: 1;
            grid-column-start: 2;
            grid-row-end: 1;
            grid-column-end: 2;
            margin: 1.2rem auto 0;
            padding: 0 1.2rem 1rem 2rem;
            line-height: 1.5rem;

            text-align: center;

            color: rgb(250, 250, 250);

            h4 {
               margin-bottom: 1.5rem;
            }

            strong {
               font-size: 1.8rem;
            }
         }
      }
   }

   .dashboardBox1, .dashboardBox2, .dashboardBox5, .dashboardBox6 {
      grid-area: 2 / auto / 2 / auto;
   }

   .dashboardBox3 {
      grid-area: 3 / 2 / 3 / 2;
   }

   .dashboardBox4 {
      grid-area: 3 / 3 / 3 / 3;
   }
}

/* PAGES AJOUTCAT.PHTML ET MODIFCAT.PHTML */
/* MAIN CONTENT */
.containerAdd, .containerEdit {
   min-height: 64.3rem;
   max-width: 50rem;
   margin: 0 auto 3rem;
   padding: 0 0.5rem;

   h3 {
      margin: 0 0 4rem -1rem;

      font-weight: 100;
      text-align: center;

      color: rgb(33, 37, 41);

      i {
         height: 0;
         width: 4rem;

         color: indigo;
      }
   }

   form {
      margin: -0.5rem 0 3.05rem;
      padding: 2.5rem 0.5rem 0.5rem;
      line-height: 1.5rem;

      font-weight: 100;
      text-align: center;

      color: rgb(33, 37, 41);
      border: 1px solid #d2d2d2;
      border-radius: 2px;

      div {
         position: relative;

         width: 40rem;
         margin: 0 auto;
         padding: 0.5rem 0;

         label {
            display: block;

            text-align: left;
         }

         i {
            float: right;

            margin: -1.4rem 0;

            font-size: 1.3rem;

            a {
               text-decoration: none;

               color: rgb(33, 37, 41);
               transition-duration: 0.1s;
            }

            a:hover {
               color: rgb(255, 0, 0);
            }
         }

         span {
            display: block;
            margin: 1rem 0 0.5rem;
            line-height: 1.8rem;
            white-space: pre-line;

            font-size: 1.4rem;
            font-style: italic;
            text-align: left;

            u {
               text-decoration: underline rgb(255, 0, 0);
               text-underline-offset: 0.2rem;
            }

            a {
               text-decoration: none;

               color: rgb(255, 0, 0);
               transition-duration: 0.1s;
            }
         }

         input {
            height: 3.5rem;
            width: 40rem;
            margin: 0.8rem 0 1.5rem;
            padding: 0.5rem;

            color: rgb(33, 37, 41);
            border-radius: 2px;
            border: 1px solid #d2d2d2;
         }

         input::placeholder {
            font-size: 1.3rem;
            font-style: italic;

            color: rgb(255, 0, 0);
         }

         .publishedLabel {
            display: initial;

            padding-right: 0.3rem;
         }

         .published {
            position: relative;

            display: initial;
            height: 1.4rem;
            width: 1.4rem;

            cursor: pointer;
         }

         p {
            margin: 0.2rem 0 0.7rem;
            line-height: 2rem;

            color: rgb(255, 0, 0);
         }

         select {
            height: 3.5rem;
            width: 40rem;
            margin: 0.8rem 0 1.5rem;
            padding: 0.5rem;

            color: rgb(33, 37, 41);
            border-radius: 2px;
            border: 1px solid #d2d2d2;
         }

         textarea {
            width: 100%;
            margin: 1rem 0;
            padding: 0.5rem;

            color: rgb(33, 37, 41);
            border-radius: 2px;
            border: 1px solid #d2d2d2;
         }
      }

      .btn {
         display: block;
         height: 3.2rem;
         margin: 1rem auto 2.5rem;
         padding: 0.8rem 1.5rem;

         font-size: 1.1rem;
         text-transform: uppercase;

         color: #ffffff;
         background-color: #C0C0C0;
         border: none;
         border-radius: 3px;
         transition-duration: 0.2s;
      }

      .btn:hover {
         color: #ffffff;
         background-color: rgb(133, 64, 245);
         cursor: pointer;
      }

      .msg p {
         margin: -1.2rem 0 1.5rem;

         color: rgb(255, 0, 0);
      }
   }

   .formReset {
      margin: -0.5rem 0 9rem;
      padding: 0;

      border: none;

      .btnReset {
         height: 3.2rem;
         margin: 0 auto 1.5rem;
         padding: 1rem;

         font-size: 1.1rem;
         text-transform: uppercase;

         color: #ffffff;
         background-color: #C0C0C0;
         border: none;
         border-radius: 3px;
         transition-duration: 0.2s;

         i {
            margin-right: 0.5rem;
         }
      }

      .btnReset:hover {
         color: #ffffff;
         background-color: rgb(255, 0, 0);
         cursor: pointer;
      }

      div {
         width: initial;

         p {
            margin: -0.2rem 0 -0.6rem;

            color: rgb(255, 0, 0);
         }
      }
   }
}

.containerAdd {
   margin-bottom: 10.5rem;
}