{% extends "layout.html.twig" %}

{% block title %}Articles{% endblock %}
{% block content %}
   <div class="container p-5">
      <section>
         <div class="flex-column mx-auto">
            <h3>Voici tous les articles.</h3>
            <div class="text-center">Article <a href="/blog_php/article/test-1">1</a>.</div>
         </div>
      </section>
   </div>
{% endblock %}