{% extends "layout.html.twig" %}

{% block title %}Page introuvable{% endblock %}
{% block content %}
   <!-- BREADCRUMB -->
   <nav class="breadcrumbs">
      <ul>
         <li><a href="/blog_php" class="home">Accueil</a></li>
         <li>Page introuvable</li>
      </ul>
   </nav>
   <!-- MAIN CONTENT -->
   <div class="containerError404">
      <div>
         <img src="/llemaitre/img/404-error.png" alt="img404" />
         <h2>La page que vous demandez est introuvable.</h2>
      </div>
   </div>
{% endblock %}